/*Business Simple*/
html { background-color: white; background-image: url(../images/bg.gif); height: 100%; margin-bottom: 0; }
body {
	font-family: arial, verdana, Helvetica, Sans-serif;
	line-height: 16px;
	font-size: 12px;
	color: #333333;
	margin: 0 0 15px;
	text-align: center;
}
form {
	margin: 0;
	padding: 0;
}
a:link, a:visited {
	color: #930;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
input.button {
	cursor: pointer;
}
img {
	border:0px;
}
p {
	margin-top: 0;
	margin-bottom: 5px;
}
span.small {
	font-size:10px;
	line-height: 10px;
	color: #999999;
}
strong {
	color: #009;
	font-weight: normal;
}
/*Ausrichtung*/
div#center {
	margin-left: auto;
	margin-right: auto;
	width:980px;
	padding-bottom:20px;
}
/*Wrap	*/
div#wrapperholder table,
div#wrapperholder div {
	text-align: left;
}
div#wrapperholder {
	width:990px;
	background-image: url(../images/wrapper_bg.png);
	background-repeat: repeat-y;
}
div#wraptop {
	background-image: url(../images/wrappert.png);
	background-repeat: no-repeat;
	height:5px;
	clear: both;
}
div#wrapunten {
	background-image: url(../images/wrapperb.png);
	background-repeat: no-repeat;
	background-position: 0% 100%;
	height:5px;
	clear: both;
}
div#wrap {
	margin: 5px 20px 20px;
}
/*Definition Aussehen Buttons global
*/
.button  {
  font-size        : 11px;
  color            : #333333;
  border           : solid 1px #999999;
  margin-bottom    : 5px;
  background-color : #ededed;
  padding          : 2px;
}
/*   Header */
div#header { background-repeat: repeat-x; background-attachment: scroll; background-position: 0 0; height: 120px; position: relative; }
div#headerlinks { height: 120px; }
div#headerrechts { height: 115px; height: 95px; padding-left: 370px; padding-right: 40px; padding-top: 25px; text-align: left; color:#c00; }
/*Einbindung Logo
*/
div#logo {
	position: absolute;
	width: 298px;
	height: 75px;
	top: 25px;
	left: 35px;
	background: url('../images/joomla_logo.png');
	background-repeat: no-repeat;
}
/* Top-Menu 
*/
div#bar { background-image: url(../images/bar.gif); background-repeat: repeat-x; height: 40px; margin-right: -20px; margin-left: -20px; padding-right: 29px; padding-left: 20px; }
div#topmenu { height: 40px; }
ul#mainlevel-nav { list-style: none; margin: 0; padding: 0; }
ul#mainlevel-nav li { background-image: url(../images/spacer.gif); background-repeat: no-repeat; background-attachment: scroll; background-position: right top; float:left; }
ul#mainlevel-nav li a { float:left; display:block; font-weight: bold; height: 40px; line-height: 40px; padding: 0 10px; color: #ebebeb; text-decoration: none; }
ul#mainlevel-nav li a:hover { text-decoration: underline; }
/*Pathway
*/
div#pathway { text-align: left; font-size:1em; font-weight: bold; line-height:1.5; width: 938px; float:left; padding-top: 3px; padding-bottom: 3px; padding-left: 10px; border: solid 1px #ccc; }
a.pathway:link,
a.pathway:visited {
	color: #333333;
	text-decoration: none;
}
a.pathway:hover {
	text-decoration: underline;
}
/*User 4*/
div#user4 { position: absolute; top: 125px; left: 790px; float: right; }
/*Formatierung Suchfeld*/
div.search input.inputbox { width: 150px; margin-top:3px; margin-bottom: 3px; padding-left: 3px; }
/*Formatierung Module allgemein
*/
div#right div.moduletable_text h3,
div#right div.moduletable h3,
div#left div.moduletable h3 { color: white; margin: 0; top: 0; left: 0; display:block; width:195px; position: absolute; background-image: url(../images/menu_top.png); background-repeat: no-repeat; padding:5px 0 10px 10px; font-size: 1.1em; font-weight: bold; background-attachment: scroll; height: 20px; }
/*Formatierung Module links*/
div#left div.moduletable ul { margin: 0; padding: 0; list-style-type: none; }
div#left div.moduletable ul li a {
	line-height: 1.2em;
	font-size: 0.92em;
	text-decoration: underline;
}
div#left div.moduletable ul li a:hover {
	text-decoration: none;
}
div#left div.moduletable { background-image: url(../images/menu_bg.png); background-repeat: repeat-y; background-attachment: scroll; margin-bottom:10px; text-align: left; position: relative; width: 155px; padding:40px 20px 20px; border-bottom: 1px solid #ccc; }
/*Formatierung Module rechts
*/
div#right div.moduletable_text { background-image: url(../images/menu_bg.png); background-repeat: repeat-y; background-attachment: scroll; margin-bottom:10px; text-align: left; position: relative; width: 155px; margin-left: 8px; padding:40px 20px 20px; border-bottom: 1px solid #ccc; order-bottom-style: solid; order-right-style: solid; }
div#right div.moduletable { background-image: url(../images/menu_bg.png); background-repeat: repeat-y; background-attachment: scroll; margin-bottom:10px; text-align: left; position: relative; width: 155px; margin-left: 8px; padding:40px 20px 20px; border-bottom: 1px solid #ccc; order-bottom-style: solid; order-right-style: solid; }
div#right div.moduletable_text {
	font-size: 0.92em;
}
/*Formatierung Men체s links
*/
div#left .input { border:0; padding:0; margin:0; }
div#left div.moduletable_menu { text-align: left; position: relative; width: 195px; margin-top: 0; margin-bottom: 10px; padding: 25px 0 0; border-bottom: 1px solid #ccc; order-bottom-style: solid; order-right-style: solid; }
div#left div.moduletable_menu h3 { margin: 0; height: 20px; background-image: url(../images/menu_top.png); color: white; font-size: 1.1em; font-weight: bold; background-repeat: no-repeat; background-attachment: scroll; position: absolute; top: 0; left: 0; width: 195px; padding: 5px 0 0 10px; }
div#left div.moduletable_menu ul { margin: 0; padding: 0; border-right: 1px solid #ccc; border-left: 1px solid #ccc; list-style-type: none; }
div#left div.moduletable_menu ul ul{ font-weight: normal; text-indent: 1em; border-color: white; list-style-position: inherit; }
div#left div.moduletable_menu li { border-bottom: 1px dotted #ccc; }
div#left div.moduletable_menu ul li ul li {  }
div#left div.moduletable_menu ul li a { line-height: 1.2em; font-size: 0.92em; text-decoration: none; color:#003456; padding-top: 5px; padding-bottom: 5px; display:block; padding-left:15px; }
div#left div.moduletable_menu ul li a:hover { text-decoration: underline; padding-top: 5px; }
div#left div.moduletable_menu li#current { font-weight: bold; }
/*Formatierung Men체s rechts
*/
div#right .input { border:0; padding:0; margin:0; }
div#right div.moduletable_menu { text-align: left; position: relative; width: 195px; margin-top: 0; margin-bottom: 10px; margin-left: 8px; border-bottom: 1px solid #ccc; }
div#right div.moduletable_menu h3 { margin: 0; height: 20px; background-image: url(../images/menu_top.png); background-repeat: no-repeat; color: white; font-size: 1.1em; font-weight: bold; background-attachment: scroll; position: absolute; top: 0; left: 0; width: 195px; padding: 5px 0 0 10px; }
div#right div.moduletable_menu ul { margin: 0; padding: 0; border-right: 1px solid #ccc; border-left: 1px solid #ccc; list-style-type: none; }
div#right div.moduletable_menu ul ul{ font-weight: normal; text-indent: 1em; list-style-position: inherit; }
div#right div.moduletable_menu li { border-bottom: 1px dotted #ccc; }
div#right div.moduletable_menu ul li ul li {
	border:0px;
}
div#right div.moduletable_menu ul li a { line-height: 1.2em; font-size: 0.92em; text-decoration: none; color:#003456; padding-top: 5px; padding-bottom: 5px; display:block; padding-left:15px; }
div#right div.moduletable_menu ul li a:hover { font-weight: bold; text-decoration: underline; }
div#right div.moduletable_menu li#current { font-weight: bold; }
/**/
div.componentheading {
	font-size: 1.6em;
	color: #039;
	font-weight: bold;
	line-height: 1em;
}
/*Content
*/
table.contentpaneopen td.contentheading {
	font-size: 1.3em;
	line-height: 1.2em;
	color: #039;
	font-weight: bold;
}
table.contentpaneopen {
	line-height: 1.3em;
	font-size: 1.1em;
}
table.contenttoc {
	margin:10px 0px 10px 10px;
	text-align: left;
	background-repeat: repeat-y;
	position: relative;
	padding:10px;
	border: 1px solid  #E3EAEE;
}
/**/
div#mainholder { float:left; width:950px; }
div#left { 
	text-align: left;
	float:left;
	width: 205px;
	margin-right: 10px;
}
div#right { 
	text-align: left;
	float:left;
	width: 205px;
	margin-left: 10px;
}
div#main { font-size:1em; text-align: left; float:left; }
/*Positionsformatierung User 1 und 2*/
div#user1   { float:left; width:360px; background-color: #fff; text-align: left; margin-bottom: 15px; }
div#user2 { float:left; width:360px; margin-left:11px; background-color: #fff; text-align: left; margin-bottom: 15px; }
div#user1 h3,
div#user2 h3{ color:white; margin:0; font-size: 1.1em; font-weight: bold; line-height: 1em; background-image: url(../images/userhead.png); background-repeat: no-repeat; background-attachment: scroll; height: 25px; padding-top: 6px; padding-right: 0; padding-left: 10px; }
div#user1 ul,
div#user2 ul{ position: relative; top: -6px; margin: 0; padding: 7px 0 0; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; list-style-type: none; }
div#user1 ul li,
div#user2 ul li{ background-image: url(../images/page_text.gif); background-repeat: no-repeat; background-position: 0 0; margin-left: 5px; padding-bottom: 5px; padding-left: 25px; }
div#user1 ul li a,
div#user2 ul li a{
	line-height: 1.2em;
	color: #039;
	text-decoration: none;
}
div#user1 ul li a:hover, div#user2 ul li a:hover{
	text-decoration: underline;
}
/* Datum letzte Artikel채nderung
*/

td.modifydate  {
	font-size:0.8em;
	line-height: 0.9;
	color: #999999;
}

/* Datum Artikelerstellung
*/
td.createdate  { line-height: 0.9; color: #999999; font-size: 0.8em; }

span.small {
	font-size:0.8em;
	line-height: 0.9;
	color: #999999;
}

table.contentpaneopen {
	line-height: 1.3em;
	font-size: 1.1em;
}

table.contenttoc {
	margin:10px 0 10px 10px;
	text-align: left;
	background-repeat: repeat-y;
	position: relative;
	padding:10px;
	border: solid 1px #ccc;
}

/* Formatierung Login
*/

form#form-login p#form-login-username input { width: 120px; padding-left: 5px; }

form#form-login p#form-login-password input { width: 120px; padding-left: 5px; }


/* Weiterlesen Button
*/
a.readon:link, a.readon:visited { color: #600; font-size        : 11px; font-weight: normal; font-style: normal; border           : solid 1px #999999; background-color : #ededed; text-decoration: none; padding          : 0 15px 0; }


a.readon:hover {
	text-decoration: underline;
}
/* Seitennavigation Z채hler  /  
bar */
.pagenavcounter {  }
.pagenavbar {  }
/*Section und Polltable	*/
table.pollstableborder td.sectiontableentry1,
table.pollstableborder td.sectiontableentry2 {
	padding:2px 2px;
}
.sectiontableheader,
.sectiontableheader a {
	font-weight: bold;
	color: #333333;
}

tr.sectiontableentry1 td { background-color: #ffffff; padding:10px 5px; }
tr.sectiontableentry2 td { padding:10px 5px; border-top: 1px dotted #ccc; border-bottom: 1px dotted #ccc; }
/* Footer 
*/
div#footer { position: relative; height:auto; width: 938px; float: right; margin: 10px 20px; padding: 5px; border-top: 1px dashed #ccc; }


div#footerText {
	color: #0f6eac;
	font-size: 12px;
}

div#footerText a {
	color: #0f6eac;
	font-size: 12px;
}
/*Powered*/
div#power { background-position: center; position: relative; margin: 5px; padding-bottom: 15px; }
div#powerText a:hover, div#powerText a:link, div#powerText a:visited { color: #000; text-decoration: none; }
/* Syndicate*/
div#syndicate img {
	margin-right: 1em;
	border:0;
	text-decoration: none;
}

div#syndicate a {
	color: #339;
	font-size: 0.92em;
}

div#syndicate {
	padding:13px 10px 10px 10px;
}

/* System Messages */
#system-message
{
margin:10px 0 20px 0;
padding: 0 !important;
background:#fff;
border:solid 0px;
}
#system-message dt { font-weight: bold; }
#system-message dd { margin: 0;  font-weight: bold; text-indent: 0px;background:#fff;padding:0 }
#system-message dd ul { color: #000; margin-bottom: 10px; list-style: none; padding: 0; border-top: 2px solid #009; border-bottom: 2px solid #009;}
/* System Standard Messages */
#system-message dt.message { display: none; }
#system-message dd.message {  }
#system-message dd.message ul { background: #ffc}
/* System Error Messages */
#system-message dt.error { display: none; }
#system-message dd.error {  }
#system-message dd.error ul { color: #000; background: #ffc ; border-top: 2px solid #009; border-bottom: 2px solid #009;margin:0}
/* System Notice Messages */
#system-message dt.notice { display: none; }
#system-message dd.notice {  }
#system-message dd.notice ul { color: #000; background: #ffc; border-top: 2px solid #009; border-bottom: 2px solid #009;}
