<?xml version="1.0" encoding="utf-8"?>
<config>
  <params>
	<param type="text" name="title" size="51" label="TITLE" description="TITLE_DESC" />
	<param type="textarea" name="intro" rows="5" cols="29" label="INTRO" description="INTRO_DESC" />
	<param type="text" name="messagesend" Size="51" label="MESSAGESEND" description="MESSAGESEND_DESC" />	
	<param type="text" name="redirect" size="51" label="REDIRECT" description="REDIRECT_DESC" />
	<param type="text" name="maxchars" size="5" label="MAXCHARS" description="MAXCHARS_DESC" />
	<param type="radio" name="captcha" label="USE_CAPTCHA" description="USE_CAPTCHA_DESC" >
        <option value="0">No</option>
        <option value="1">Yes</option>
	</param>
	<param type="radio" name="copyme" label="COPY_ME" description="COPY_ME_DESC" >
        <option value="0">No</option>
        <option value="1">Yes</option>
	</param>
	<param type="radio" name="verbose" label="SENDERDETAILS" description="SENDERDETAILS_DESC" >
        <option value="0">No</option>
        <option value="1">Yes</option>
	</param>
	<param type="radio" name="htmlmail" label="HTMLFORMAT" description="HTML_DESC" >
        <option value="0">TEXT</option>
        <option value="1">HTML</option>
	</param>
  </params>
</config>