@charset "utf-8";
/* CSS Document */


html {
	height : 100%;
}
body {
	line-height: 1.3em;
	font-family: "Lucida Grande", sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
	padding : 0;
	margin : 0;
	color : #666666;
	background-color : #8d0303;
}
body.contentpane {
	color : #333333;
	background : none;
	background-color : #ffffff;
}
#wrapper {
	max-width : 1280px;
	margin-left : auto;
	margin-right : auto;
	display : block;
	border-left : 1px solid #8d0303;
	border-right : 1px solid #8d0303;
}
#top_menu {
	width : 100%;
	float : left;
	height : 65px;
	padding : 0;
	margin : 0;
	overflow : visible;
	background-color : #f7f7f7;
	background-image : url(../images/bg_pagenav.gif);
	background-repeat : repeat-x;
}
#top_menu_inner {
	overflow : visible;
	padding-top : 16px;
	padding-left : 65px;
}
#banner {
	float : right;
	padding-top : 20px;
	padding-right : 70px;
}
.banner_inner {
	border : 1px solid #ffffff;
}
#breadcrumbs {
	height : 24px;
	color : #888;
	margin-bottom : 4px;
	margin-left : 5px;
	margin-right : 5px;
	margin-top : 20px;
	background-color : #f0f0f0;
	background-image : url(../images/pathway.gif);
	background-repeat : repeat-x;
	border : 1px solid #e3e3e3;
}
.breadcrumbs {
	font-size : 11px;
	overflow : hidden;
	display : block;
	height : 24px;
	line-height : 24px !important;
	line-height : 22px;
	color : #888;
	float : left;
	padding-left : 5px;
}
.breadcrumbs a {
	color : #888;
	text-decoration : none;
}
.breadcrumbs a:hover {
	color : #999;
	text-decoration : none;
}
ul#mainlevel-nav {
	list-style : none;
	padding : 0;
	margin : 0;
}
ul#mainlevel-nav li {
	color : #fff;
	border-left : 1px solid #e93737;
	border-top : 1px solid #e93737;
	border-right : 1px solid #e93737;
	border-bottom : none;
	height : 34px;
	line-height : 35px;
	float : left;
	margin : 0 1px 0 1px;
	padding : 0;
	white-space : nowrap;
}
ul#mainlevel-nav li a {
	background-image : url(../images/top_button.gif);
	background-repeat : repeat-x;
	text-align : center;
	display : block;
	padding-left : 30px;
	padding-right : 30px;
	text-decoration : none;
	color : #fff;
	font-size : 11px;
	font-weight : bold;
}
ul#mainlevel-nav li a:hover {
	background-image : url(../images/top_button_hover.gif);
	background-repeat : repeat-x;
	color : #f8f8f8;
	float : left;
	white-space : nowrap;
}
ul#mainlevel-nav li a#active_menu-nav {
	background-image : url(../images/top_button_hover.gif);
	background-repeat : repeat-x;
	color : #f8f8f8;
	float : left;
	white-space : nowrap;
}
ul#mainlevel-nav li a#active_menu-nav:hover {
	list-style-image : none !important;
	background-image : url(../images/top_button.gif);
	background-repeat : repeat-x;
	text-align : center;
	display : block;
	padding-left : 30px;
	padding-right : 30px;
	text-decoration : none;
	color : #fff;
	font-size : 11px;
	font-weight : bold;
}
#header {
	height : 100px;
	float : left;
	width : 100%;
	padding : 0;
	margin : 0;
	background-color : #f6f6f6;
	background-image : url(../images/bg_pagebg.gif);
}
.maintitle {
	font-size : 28px;
	float : left;
	color : #fafafa;
	font-weight : bold;
	padding-left : 85px;
	padding-top : 40px;
	letter-spacing : normal;
	padding-bottom : 10px;
}
#content_outer {
	width : 100%;
	padding : 0;
	background-repeat : repeat-x;
	background-image : url(../images/bg.gif);
	background-color : #ffffff;
}
#main_content {
	float : none !important;
	float : none;
	padding : 5px;
	margin : 5px;
}
table.content_table {
	float : none;
	width : 90%;
	margin-top : 10px;
	margin-left: auto;
	margin-right: auto;
}
.content {
	margin-bottom: 10px;
}
#left_outer {
	float : left;
	width : 180px;
	margin-bottom : 20px;
	margin-top : 10px;
}
#left_inner {
	float : none;
	font-size : 11px;
	padding : 5px;
}
#left_inner_float {
	width : 180px;
}
#right_outer {
	float : left;
	width : 180px;
	margin-bottom : 20px;
	margin-top : 10px;
}
#right_inner {
	float : none;
	font-size : 11px;
	padding : 5px;
}
#right_inner_float {
	width : 180px;
}
.user1_inner {
	float : none;
	padding : 2px;
}
#user1_outer {
	float : none;
	margin : 5px;
	padding : 2px;
}
.user2_inner {
	float : none;
	padding : 2px;
}
#user2_outer {
	float : none;
	margin : 5px;
	padding : 2px;
}
.clr {
	clear : both;
}
ul, ol, li {
	margin : 0;
	padding : 0;
}
ul, ol {
	margin : 10px 0;
	padding-left : 10px;
}
ol li {
	list-style-type : decimal;
	line-height : 14px;
}
ul {
	margin : 5px;
	padding : 2px;
	list-style : none;
}
li {
	text-align : left;
	padding-left : 25px;
	background-image : url(../images/li.png);
	background-repeat : no-repeat;
	background-position : 0 2px;
	list-style-type : none;
}
li:hover {
	text-align : left;
	padding-left : 25px;
	background-image : url(../images/li_hover.png);
	background-repeat : no-repeat;
	background-position : 0 2px;
}
td {
	text-align : left;
	margin : 0;
	padding : 0;
}
a, a:link, a:visited, a:active, a:focus {
	color : #ba0303;
	text-decoration : none;
	outline : none;
}
a:hover {
	color : #df0404;
	text-decoration : none;
	outline : none;
}
table.contentpaneopen {
	width : 99%;
	padding : 2px;
	margin : 2px;
}
table.contentpane {
	width : 99%;
	padding : 6px;
	margin : 6px;
}
table.searchinto {
	width : 100%;
}
table.moduletable {
	width : 100%;
	margin : 0;
	padding : 0;
}
div.moduletable {
	padding : 0;
	padding-bottom : 10px;
}
div.moduletable h3 {
	background-image : url(../images/h3.gif);
	background-repeat : no-repeat;
	border : 1px solid #e3e3e3;
	color : #888;
	text-align : right;
	font-weight : normal;
	height : 24px;
	line-height : 24px;
	font-size : 11px;
	padding-right : 10px;
	margin : 5px 0 2px 0;
	overflow : hidden;
}
.moduletable_text h3 {
	background-image : url(../images/h3.gif);
	background-repeat : no-repeat;
	border : 1px solid #e3e3e3;
	color : #888;
	text-align : right;
	font-weight : normal;
	height : 24px;
	line-height : 24px;
	font-size : 11px;
	padding-right : 10px;
	margin : 5px 0 2px 0;
	overflow : hidden;
}
.bannerheader {
	font-size : 12px;
	font-weight : bold;
	color : #484848;
	padding-left : 5px;
}
.banneritem_text {
	padding : 2px 5px 2px 5px;
}
.banneritem_text a {
	color : #d00808;
}
.banneritem_text a:hover {
	color : #fd6c6c;
}
.bannerfooter_text {
	padding : 2px 5px 2px 5px;
	font-size : 12px;
	font-weight : bold;
}
table.moduletable td {
	font-size : 11px;
	padding : 0;
	margin : 0;
	font-weight : normal;
}
table.poll {
	padding : 0;
	width : 100%;
	border-collapse : collapse;
}
table.pollstableborder {
	padding : 0;
	width : 100%;
	border : none;
	text-align : left;
}
table.pollstableborder img {
	vertical-align : baseline;
	padding-left : 10px;
}
table.pollstableborder td {
	padding : 2px;
	border-collapse : collapse;
	border-spacing : 0;
}
table.pollstableborder tr.sectiontableentry1 td {
	margin : 1px;
	padding : 4px 5px 3px 5px;
}
table.pollstableborder tr.sectiontableentry2 td {
	margin : 1px;
	padding : 4px 5px 3px 5px;
}
table.pollstableborder tr.sectiontableentry0 td {
	margin : 1px;
	padding : 4px 5px 3px 5px;
}
table.contenttoc {
	font-size : 11px;
	border : 1px solid #e3e3e3;
	padding : 2px;
	margin-left : 10px;
	margin-bottom : 10px;
	float : right;
}
.toclink {
	padding: 4px;
}
table.contenttoc a:link, table.contenttoc a:visited {
	font-size : 11px;
	color : #666;
}
table.contenttoc a:hover {
	text-decoration : none;
	color : #999;
	font-size : 11px;
}
table.contenttoc td {
	font-size : 11px;
	padding : 2px;
	margin : 2px;
}
table.contenttoc th {
	font-size : 12px;
	font-weight : normal;
	background-color : #8d0303;
	color : #fff;
	text-align : left;
	padding : 5px;
	margin : 5px;
}
.moduletable_menu h3 {
	background-image : url(../images/h3.gif);
	background-repeat : no-repeat;
	border : 1px solid #e3e3e3;
	color : #888;
	text-align : right;
	font-weight : normal;
	height : 24px;
	line-height : 24px;
	font-size : 11px;
	padding-right : 10px;
	margin : 5px 0 2px 0;
	overflow : hidden;
}
.moduletable_menu ul.menu {
	margin : 0;
	padding : 0;
	list-style : none;
	background : none;
}
.moduletable_menu ul.menu li {
	margin : 0;
	padding : 0;
	list-style : none;
	background : none;
}
.moduletable_menu ul.menu li a {
	background-image : url(../images/menu_bg.gif);
	background-repeat : no-repeat;
	display : block;
	vertical-align : middle;
	font-size : 11px;
	color : #999;
	text-align : left;
	height : 20px;
	padding : 6px 10px 0 15px;
	text-decoration : none;
	margin-bottom : 1px;
}
.moduletable_menu ul.menu li a span {
	background : none;
}
.moduletable_menu ul.menu li a:hover, .moduletable_menu ul.menu li a:active, .moduletable_menu ul.menu li a:focus {
	background-position : 0 -25px;
	text-decoration : none;
	color : #888;
	font-size : 11px;
	text-align : left;
}
.moduletable_menu ul.menu li.active a {
	background-position : 0 -25px;
	text-decoration : none;
	color : #888;
	font-size : 11px;
	text-align : left;
}
.moduletable_menu ul.menu li.active a span {
	background : none;
}
.moduletable_menu ul.menu li li a span {
	list-style : none;
	background : none;
}
.moduletable_menu ul.menu li ul {
	margin : 0;
	padding : 0;
	list-style : none;
}
.moduletable_menu ul.menu li li {
	margin : 0;
	padding : 0;
	list-style : none;
	background : none;
}
.moduletable_menu ul.menu li li a {
	list-style : none;
	background : #fafbfb;
	border : 1px solid #f0f1f1;
	vertical-align : middle;
	font-size : 11px;
	color : #999;
	text-align : left;
	text-decoration : none;
	height : 20px;
	padding : 5px 10px 0 15px;
	text-decoration : none;
	margin-bottom : 1px;
}
.moduletable_menu ul.menu li li a:hover, .moduletable_menu ul.menu li li a:active, .moduletable_menu ul.menu li li a:focus {
	color : #888;
	list-style : none;
	background : #fff;
	text-decoration : none;
}
.moduletable_menu ul.menu li li.active a {
	color : #999 !important;
	list-style : none;
	text-decoration : none;
}
.moduletable_menu ul.menu li li a span {
	list-style : none;
}
a.mainlevel:link, a.mainlevel:visited {
	background-image : url(../images/menu_bg.gif);
	background-repeat : no-repeat;
	display : block;
	font-size : 11px;
	color : #999;
	text-align : left;
	height : 20px;
	padding : 6px 10px 0 15px;
	text-decoration : none;
	margin-bottom : 1px;
}
a.mainlevel:hover {
	background-position : 0 -25px;
	text-decoration : none;
	color : #888;
	font-size : 11px;
	text-align : left;
}
a.mainlevel#active_menu {
	background-position : 0 -25px;
	text-decoration : none;
	color : #888;
	font-size : 11px;
	text-align : left;
}
a.mainlevel#active_menu:hover {
	background-image : url(../images/menu_bg.gif);
	background-repeat : no-repeat;
	display : block;
	vertical-align : middle;
	font-size : 11px;
	color : #999;
	text-align : left;
	text-decoration : none;
}
a.sublevel:link, a.sublevel:visited {
	list-style : none;
	background : #fafbfb;
	border : 1px solid #f0f1f1;
	font-size : 11px;
	color : #999;
	text-align : left;
	text-decoration : none;
	height : 20px;
	padding : 5px 10px 0 15px;
	text-decoration : none;
	margin-bottom : 1px;
}
a.sublevel:hover {
	color : #888;
	list-style : none;
	background : #fff;
	text-decoration : none;
}
a.sublevel#active_menu {
	color : #999 !important;
	list-style : none;
	text-decoration : none;
}
a.sublevel#active_menu:hover {
	color : #888;
	list-style : none;
	background : #fff;
	text-decoration : none;
}
#copy {
	background-color : #f8fbfd;
	height : 65px;
	width : 100%;
	font-size : 11px;
	background-image : url(../images/footer.gif);
	background-repeat : repeat-x;
}
#copy_inner {
	color : #f0f0f0;
	padding : 6px;
	font-size : 11px;
	padding-top : 20px;
}
.copy_inner a:link {
	color : #f0f0f0;
	font-size : 11px;
}
.copy_inner a:visited {
	color : #f0f0f0;
	font-size : 11px;
}
.copy_inner a:hover {
	color : #fe6d6d;
	font-size : 11px;
}
.componentheading {
	background-image : url(../images/compo_head.png);
	background-repeat : no-repeat;
	color : #4c4c4c;
	font-size : 18px;
	font-weight : normal;
	padding : 6px 0px 5px 35px;
	margin : 2px;
}
.contentheading {
	background-image : url(../images/content_head.png);
	background-repeat : no-repeat;
	color : #a70303;
	font-size : 16px;
	font-weight : bold;
	padding : 6px 0px 5px 32px;
	margin : 2px;
}
.contentpagetitle {
	color : #a70303;
	font-size : 16px;
	padding : 6px 0px 5px 0px;
	margin : 2px;
}
.pagenav {
	text-align : center;
	font-size : 11px;
	border : 3px double #e3e3e3;
	padding : 1px 3px 1px 3px;
	margin : 5px 1px 0px 1px;
	color : #999;
	background-image : url(../images/button_bg.png);
}
.pagenav:hover {
	border : 3px double #dedfdf;
	background-image : url(../images/button_bg_hover.png);
}
.pagination span {
	padding : 2px;
}
.pagination a {
	padding : 2px;
}
.blog {
	width : 100%;
}
.blog_more {
	margin : 10px 5px 20px 5px;
}
.blog_more strong {
	margin : 2px;
	display : block;
	font-size : 14px;
	font-weight : bold;
}
.blog_more ul {
	margin : 5px;
	padding : 0;
}
.blog_more ul li {
	color : #888;
	text-align : left;
	padding-left : 25px;
	background-image : url(../images/li.png);
	background-repeat : no-repeat;
	background-position : 0 2px;
}
.blog_more ul li a {
	color : #888;
}
.blog_more ul li:hover {
	color : #484848;
	text-align : left;
	padding-left : 25px;
	background-image : url(../images/li_hover.png);
	background-repeat : no-repeat;
	background-position : 0 2px;
}
.article_separator {
	clear : both;
	display : block;
	height : 10px;
	margin-bottom : 10px;
	border-bottom : 1px solid #e3e3e3;
}
.article_column {
	padding : 10px;
	margin : 5px;
}
.article_column column_separator {
	padding : 10px;
	margin : 5px;
}
.article-tools {
	border-top : 1px solid #e3e3e3;
	width : 100%;
	float : left;
	clear : both;
	margin-bottom : 15px;
	display : block;
	background-color : #fbfcf8;
}
.article-meta {
	padding : 5px;
	width : 80%;
	float : left;
}
#buttons {
	float : left;
	margin : 2px;
	padding : 2px;
	width : auto;
}
.button, .validate {
	color : #999;
	background-color : #f8fbfd;
	background-image : url(../images/button_bg.png);
	text-align : center;
	font-size : 10px;
	border : 3px double #e3e3e3;
	padding : 2px 1px 2px 1px;
	margin : 2px;
}
.button:hover, .validate:hover {
	color : #a70303;
	background-image : url(../images/button_bg_hover.png);
	border : 3px double #dedfdf;
}
.invalid {
	border-color : #e3e3e3;
}
label.invalid {
	color : #a70303;
}
.content_rating img {
	margin: 1px 2px 1px 2px;
}
.content_vote {
}
.back_button {
	background-image : url(../images/button_bg.png);
	text-align : center;
	font-size : 11px;
	border : 3px double #e3e3e3;
	margin : 2px;
	color : #999;
	padding : 1px 3px 1px 3px;
}
.back_button:hover {
	background-image : url(../images/button_bg_hover.png);
	border : 3px double #dedfdf;
}
.back_button a:link {
	text-decoration : none;
	color : #999;
}
.back_button a:hover {
	text-decoration : none;
	color : #a70303;
}
#form-login .input {
	padding : 2px;
	margin : 2px;
	color : #888;
	background : none;
	border : none;
	font-size : 11px;
}
form {
	margin : 0;
	padding : 0;
	border : none;
}
#form-login {
	border : none;
}
#form-login ul {
	padding : 0;
	margin : 0;
	list-style : none;
}
#form-login li {
	padding : 2px;
	margin : 0;
	background : none;
	list-style : none;
}
#form-login li a {
	font-size : 11px;
}
#form-login li a:hover {
	font-size : 11px;
}
.inputbox {
	padding : 2px;
	margin : 2px;
	border : 1px solid #e3e3e3;
	background-color : #fdfefe;
	color : #888;
	font-size : 11px;
}
.inputbox:hover {
	border : 1px solid #dedfdf;
	background-color : #fafbfb;
}
.sectiontableheader {
	border : 1px solid #e3e3e3;
	color : #f1f2f3;
	background-color : #8d0303;
	text-align : left;
	text-transform : none;
	margin : 0;
	padding : 2px;
	height : 30px;
}
.sectiontableheader img {
	vertical-align : baseline;
	margin: 0px 5px 0px 5px;
}
.sectiontableheader a {
	padding-left : 5px;
	color : #f1f2f3;
}
.sectiontableheader a:hover {
	padding-left : 5px;
	color : #ffffff;
}
.sectiontablefooter {
	color : #898c8d;
	padding : 2px;
	margin : 0;
	text-align : left;
	text-transform : none;
}
.sectiontableentry1 {
	border-bottom : 1px solid #e3e3e3;
	background-color : #fbfdfe;
	text-align : left;
}
.sectiontableentry2 {
	border-bottom : 1px solid #e3e3e3;
	background-color : #f8fbfd;
	text-align : left;
}
.sectiontableentry0 {
	border-bottom : 1px solid #e3e3e3;
	background-color : #fdfefe;
	text-align : left;
}
.sectiontableentry1 td {
	padding : 4px 5px 3px 5px;
	margin : 2px;
}
.sectiontableentry2 td {
	padding : 4px 5px 3px 5px;
	margin : 2px;
}
.sectiontableentry0 td {
	padding : 4px 5px 3px 5px;
	margin : 2px;
}
.sectiontableentry1 a {
	color : #666;
	text-align : left;
}
.sectiontableentry1 a:hover {
	color : #999;
	text-align : left;
}
.sectiontableentry2 a {
	color : #666;
	text-align : left;
}
.sectiontableentry2 a:hover {
	color : #999;
	text-align : left;
}
.sectiontableentry0 a {
	color : #666;
	text-align : left;
}
.sectiontableentry0 a:hover {
	color : #999;
	text-align : left;
}
.readon {
	font-size : 11px;
}
a.readon a:link {
	color : #d00808;
	font-size : 11px;
}
a.readon a:visited {
	color : #d00808;
	font-size : 11px;
}
a.readon a:hover {
	color : #fd6c6c;
	font-size : 11px;
	text-decoration : none;
}
.mostread a:hover {
	color : #484848;
	text-decoration : none;
}
.mostread a:visited {
	color : #666;
	text-decoration : none;
}
.mostread a:link {
	color : #666;
	text-decoration : none;
}
.latestnews a:hover {
	color : #484848;
	text-decoration : none;
}
.latestnews a:visited {
	color : #666;
	text-decoration : none;
}
.latestnews a:link {
	color : #666;
	text-decoration : none;
}
h1 {
	color : #4c4c4c;
	font-weight : bold;
	font-size : 24px;
	line-height : 26px;
	font-weight : normal;
}
h2 {
	font-size : 20px;
	line-height : 22px;
	color : #463e3e;
	font-weight : normal;
}
h3 {
	color : #a70303;
	font-size : 18px;
	line-height : 20px;
	font-weight : normal;
}
h4 {
	color : #ce1313;
	font-size : 16px;
	line-height : 18px;
	font-weight : bold;
}
h5 {
	color : #ce1313;
	font-size : 14px;
	line-height : 16px;
	font-weight : bold;
}
h6 {
	color : #463e3e;
	font-size : 12px;
	line-height : 14px;
	font-weight : bold;
}
.contact_email {
	padding : 5px;
	margin : 5px;
}
#component-contact {
	margin-top : 10px;
}
.hasTip {
	margin : 5px;
	color : #888;
	background-color : #fdfefe;
	border : none;
}
.tool-tip {
	float : left;
	color : #888;
	background : #ffffff;
	border : 1px solid #e3e3e3;
	padding : 5px;
	max-width : 200px;
}
.tool-title {
	padding : 0;
	margin : 0;
	font-size : 100%;
	font-weight : bold;
	margin-top : -15px;
	padding-top : 15px;
	padding-bottom : 5px;
	background-image : url(../images/selector-arrow.png);
	background-repeat : no-repeat;
}
.tool-text {
	font-size : 11px;
	margin : 0;
}
table.paramlist {
	margin-top : 5px;
}
table.paramlist td.paramlist_key {
	width : 128px;
	text-align : left;
	height : 30px;
}
div.message {
	font-weight : bold;
	font-size : 14px;
	color : #888;
	text-align : center;
	width : auto;
	background-color : #f8fbfd;
	border : 1px solid #e3e3e3;
	margin : 3px 0 10px;
	padding : 3px 20px;
}
img {
	border : none;
}
div.mosimage {
	border : 2px solid #e3e3e3;
	background-color : #fcfcfc;
}
.mosimage {
	margin : 0;
	background-color : #fdfefe;
}
.mosimage_caption {
	margin-top : 0;
	background-color : #fdfefe;
	padding : 0;
	color : #888;
	font-size : 10px;
}
a img.calendar {
	width : 16px;
	height : 16px;
	margin-left : 3px;
	background : url(../images/calendar.png) no-repeat;
	cursor : pointer;
	vertical-align : middle;
}
.error {
	font-style: normal;
	text-transform : uppercase;
	padding : 5px;
	color : #a70303;
	font-size : 14px;
	font-weight : bold;
}
#system-message {
	margin : 10px;
}
#system-message dd.message ul {
	border-top : 2px dashed #e3e3e3;
	border-bottom : 2px dashed #e3e3e3;
	margin : 5px;
	padding-left : 10px;
	color : #a70303;
	font-size : 14px;
	font-weight : bold;
}
#system-message dd.error ul {
	color : #a70303;
	border-top : 2px dashed #e3e3e3;
	border-bottom : 2px dashed #e3e3e3;
	margin : 5px;
	padding-left : 10px;
	color : #a70303;
	font-size : 14px;
	font-weight : bold;
}
#system-message dd.notice ul {
	color : #a70303;
	border-top : 2px dashed #e3e3e3;
	border-bottom : 2px dashed #e3e3e3;
	margin : 5px;
	padding-left : 10px;
	color : #a70303;
	font-size : 14px;
	font-weight : bold;
}
.small {
	color : #484848;
	font-size : 11px;
}
.createdate {
	font-size : 11px;
	color : #999999;
}
.modifydate {
	color : #484848;
	font-size : 11px;
	padding: 5px 0px 5px 0px;
}
.highlight {
	background-color : #c4df0e;
	color : #181818;
	padding : 0;
}
.code {
	background-color : #ff00ff;
	border : 1px solid #bbb;
}
fieldset {
	margin : 10px;
	padding : 10px;
	border : 1px solid #e3e3e3;
	background-color : #f8fbfd;
}
